<h1>Artists</h1>
<% @artists.each do |artist| %>
  <h3><%= artist.name %></h3>
  <%= button_to 'Delete', "/artists/#{artist.id}", method: :delete %>
<% end %>
<%= link_to 'New Artist', '/artists/new' %>
